.switch-container {
  width: 32px;
  height: 18px;
  padding: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #dbdbdb;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.23s ease-in-out;
}

.switch-container.active {
  justify-content: flex-end;
  background-color: #348efc;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  cursor: pointer;
}
